{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Soluciones</title>
    <link rel="shortcut icon" href='{% static "img/icon.png" %}' type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav >
            <div class="logocab">
                <b class="navbar-logo" href="#">
                    <img src='{% static "img/logo2.png" %}' height="80" >
                </b>
                <b class="textlogo" href="#">System Soluciones</b>
            </div>

            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'producto' %}">Productos</a>
            <a href="{% url 'portafolio' %}">Portafolio</a>
            <a href="{% url 'nuestro_servicio' %}">Servicios</a>
            <a href="#contacto">Contacto</a>
        </nav>
        <br>
        <br>
        <br>
        <section class="textos-header">
            <h1>TODO LO QUE BUSCAS EN UN SOLO LUGAR</h1>
            <h2>Confianza solida de nuestros CLIENTES</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>

    {% block contenido %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4 id="contacto">Contactenos a los siguientes numeros</h4>
                <p>+595983192276</p>
                <p>+595983192276</p>
                <p>+595983192276</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>systemsoluciones@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3642.795292021319!2d-54.31539091869174!3d-24.07351234421025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f4b13f2fa2b1a5%3A0x532549cb4007e609!2sStudio%20Integrado%20Essence!5e0!3m2!1ses!2spy!4v1655818866977!5m2!1ses!2spy"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
        </div>

    </footer>

</body>
<!-- Mirrored from www.systemsoftpy.kinghost.net/system/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Nov 2022 12:56:40 GMT -->
</html>