{% extends 'paginas/base.html' %}
{% load static %}

    {% block contenido %}
        <!--CONTENIDO SOBRE NOSOTROS-->
        <section class="contenedor sobre-nosotros">
            <h2 id="titulo" class="titulo"><span class="badge badge-primary"><h1>INNOVACION CONTINUA PARA TU EMPRESA</h1></span></h2>
            <div class="presentacion col-md-6">

                <h3> El crecimiento de tu empresa en buenas manos.</h3>
                <h3>Somos una empresa joven en el mercado<br> con valores solidos y comprometidos con la <br>
                    evolucion de tu <span>EMPRESA</span></h3>

            </div>
            </div>

        </section>


    {% endblock %}


