{% extends 'paginas/base.html' %}
{% load static %}

    {% block contenido %}
        <!--CONTENIDO SOBRE NOSOTROS-->
        <section class="contenedor sobre-nosotros">
            <h2 id="titulo" class="titulo">Nuestros productos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src={% static "img/ilustracion2.svg" %} alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Sistemas informaticos</h3>
                    <p>Contamos con sistemas informaticos para varias ramas de negocios y brindamos el mejor soporte del mercado.

                    </p>
                    <h3><span>2</span>Desarrollo de paginas web</h3>
                    <p>Nos encargamos de crear una identidad en la web para nuestros clientes.
                        Dando el mejor soporte y la mejor atención a nuestros clientes.
                    </p>
                    <h3><span>3</span>Desarrollo de aplicaciones moviles</h3>
                    <p>Llevamos tu informacion empresarial a la palma de tu mano con nuestras aplicaciones moviles
                        para que puedas acceder a toda tu infomacion en todo momento y en todo lugar.
                    </p>
                </div>
            </div>
            <a href="{% url  'formulario' %}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Solicitar Presupuesto</a>
        </section>


    {% endblock %}


