{% extends 'paginas/base.html' %}
{% load static %}

    {% block contenido %}
        <!--CONTENIDO SOBRE NOSOTROS-->
        <section class="contenedor sobre-nosotros">
            <h2 id="titulo" class="titulo">INNOVACION CONTINUA PARA TU EMPRESA</h2>
            <div class="presentacion col-md-6">

                <h4> El crecimiento de tu empresa en buenas manos.</h4>
                <h4>Somos una empresa joven en el mercado<br> con valores solidos y comprometidos con la <br>
                    evolucion de tu <span>EMPRESA</span></h4>

            </div>
            </div>

        </section>


    {% endblock %}


