{% extends 'paginas/base.html' %}
{% load static %}


{% block contenido %}
    <!--CONTENIDO SOBRE SERVICIOS-->
<section class="about-services">
            <div class="contenedor">
                <h2 id="servicios" class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src='{% static "img/ilustracion1.svg" %}' alt="">
                        <h3>Sistema Punto de Venta</h3>
                        <p>Con el sistma punto de venta podras realizar el correcto control de tu negocio</p>
                    </div>
                    <div class="servicio-ind">
                        <img src='{% static "img/ilustracion4.svg" %}' alt="">
                        <h3>Sistema control de producción</h3>
                        <p>El sistema de producción te permite controlar y contabilizar todos los procesos de la materia prima hasta el producto final</p>
                    </div>
                    <div class="servicio-ind">
                        <img src='{% static "img/ilustracion3.svg" %}' alt="">
                        <h3>E-System</h3>
                        <p>Facturación electronica</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
